# Composer
# (No ignoramos la carpeta vendor)
# /vendor/

# Symfony
# (No ignoramos la carpeta var)
# /var/

# Logs y archivos temporales de Symfony
/var/log/
/var/cache/
/var/sessions/
/var/tmp/

# Archivos de dependencias locales de Composer
/composer.lock

# Archivos de entorno
.env.local
.env.local.php
.env.dev.local
.env.prod.local

# Archivos de entorno generados
.env.php

# IDEs
.idea/
.vscode/

# Directorios de compilación de Symfony (si usas alguna herramienta de frontend)
public/build/
public/uploads/

# Carpeta de pruebas (si usas PHPUnit u otras herramientas)
phpunit-result/

# Otros archivos temporales
*.log
*.bak
*.swp

# Excluir carpetas de pruebas
/tests/
