/* Título estilo Instagram */
h1 {
    font-family: 'Dancing Script', cursive; 
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor del login */
.login-container {
    background-color: black;
    width: 350px;
    padding: 30px;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid white;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos */
    gap: 10px; /* Espacio entre inputs */
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: #e6e6e6; /* Gris claro */
    color: black;
    text-align: center;
}

/* Color del placeholder */
input::placeholder {
    color: rgba(0, 0, 0, 0.7); /* Gris oscuro para que sea visible */
}

/* Botón de inicio de sesión */
button[type="submit"] {
    width: 70%;
    padding: 12px;
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #007bb5;
}

/* Línea separadora */
.separator {
    width: 85%;
    height: 1px;
    background-color: #ccc;
    margin: 20px auto;
}

/* Enlace para recuperar la contraseña */
.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #0095f6;
    text-decoration: none;
}

/* Contenedor de registro */
.register-container {
    background-color: black;
    border: 1px solid white;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    width: 350px;
}

.register-container p {
    color: white;
}

.register-container a {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;