<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Slyce</title>
    </head>
    <body>	
        <h1>Login</h1>
    	<form action="{{ path('login') }}" method="post">
			Usuario
			<input type="text" id="username" name="_username" />
             <br>
			Clave
           
			<input type="password" id="password" name="_password" />
       
            <p>¿No tienes cuenta? <a href="{{ path('registrarse') }}">Regístrate</a></p>
            
            <p>¿Has olvidado la contraseña? <a href="{{ path('cambioContraseña') }}">Recupérala</a></p>  
          

    	
			<button type="submit">login</button>
		</form>
    </body>
</html>
