<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Slyce</title>
    </head>
    <body>	
    	<form action="{{ path('login') }}" method="post">
			Usuario
			<input type="text" id="username" name="_username" />
			Clave
			<input type="password" id="password" name="_password" />
            <p>¿No tienes cuenta? <a href="{{ path('registrarse') }}">Regístrate</a></p>
            <p>¿Has olvidado la contraseña? <a href="{{ path('recuperarContraseña') }}">Recupérala</a></p>  
            <br>
			<button type="submit">login</button>
		</form>
    </body>
</html>
