<!DOCTYPE html>
<<<<<<< Updated upstream
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    
   
</head>
<body>

    <div id="contenedor">
    <!-- Campos ocultos para las rutas -->
    <input type="hidden" id="rutaVerificarCorreo" value="{{ path('verificarCorreo') }}">
    <input type="hidden" id="rutaVerificarCodigo" value="{{ path('enviarCodigo') }}">
    <input type="hidden" id="rutaCambiarContraseña" value="{{ path('cambiarContraseña') }}">  

   
    <div id="emailContainer">
    <h3>Introduce tu email para recuperar tu contraseña</h3>
        <input type="email" id="email" placeholder="Introduce tu email">
        <input type="button" value="Enviar Código" id="btnEnviarCodigo">
    </div>

 
    </div>
    <script src="{{ asset('js/cambiaContra.js') }}"></script>
</body>
=======
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recuperar contraseña</title>
    </head>
    <body>	
        <h1>RECUPERAR CONTRASEÑA</h1>
      
        {% endif %}
    </body>
>>>>>>> Stashed changes
</html>
